.add-post-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  padding: 1rem;
  width: 100%;
  height: 100vh;
  background: #202020;
}

.add-post-container h2 {
  align-self: center;
  color: #d6d8de;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  height: 3rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background: #def5ff;
  border: none;
  outline: none;
  font-size: 1.2rem;
}

input[type="submit"] {
  background: #89d3f5;
}

input[type="submit"],
button {
  width: 100%;
  align-self: center;
  height: 2rem;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  font-weight: 600;
}

input[type="submit"]:hover {
  background: #6ccaf5;
}

button {
  background: #bd3c3c;
}

button:hover {
  background: #ff0000;
}

textarea {
  height: 8rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background: #def5ff;
  border: none;
  outline: none;
  font-size: 1.2rem;
}

@media only screen and (min-width: 45rem) {
  .add-post-container {
    width: 45rem;
    margin: 0 auto;
  }
  input[type="submit"],
  button {
    width: 50%;
  }
}
