@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    box-sizing: border-box;
}
body {
    font-family: "Josefin Sans", sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 45rem) {
    body {
        width: 45rem;
        margin: 0 auto;
    }
}
